.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.innerDiv {
    background-color: rgba(0, 255, 255, 0.733);
    padding: 5rem 15rem 5rem 15rem;
    border-radius: 1.5rem;
}

button {
    padding: 0.5rem 1rem;
    margin: 1rem;
}